/* src/styles/footer.css */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-bottom p {
  font-size: 14px;
  margin: 0;
}

.footer-bottom img {
  width: 150px;
  height: auto;
  max-height: 50px;
}