@import url(https://fonts.googleapis.com/css?family=Lato:100,400);

.reverse-color {
    color: var(--primary-color);
}

.reverse-color:hover {
    color: var(--second-text-color);
}

.ml-lg {
    margin-right: 2.875rem;
}

.mobile-menu {
    display: initial;
    z-index: 3;
}

.mobile-menu-content {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    padding-top: 2.25rem;
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
}

.mobile-menu-content ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.mobile-menu-content a {
    font-size: var(--fs-lg);
}

@media (width >=1280px) {
    header {
        position: relative;
        z-index: 1;
    }

    nav>img {
        display: initial;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu-content {
        display: none;
    }
}

.fixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #eee;
    box-shadow: 0 4px 6px rgba(12, 213, 116, 0.2);
}

nav ul li a.active {
    color: var(--primary-color);
    font-weight: bold;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    padding-top: 80px;
}