#hero,
#highlights,
#testimonials,
#find-us,
#planos,
#contact {
    background: #f4f4f4;
    border-top: 0.125rem solid #e4e4e4;
    width: 100%;
    display: flex;
    padding-bottom: 0;
    border: none;
    box-sizing: border-box;
    scroll-margin-top: 80px;
    margin-bottom: 20px;
}

#hero img {
    position: relative;
}

#hero>img,
#highlights>img,
#testimonials>img,
#find-us>img {
    position: absolute;
    right: 0;
    height: 48%;
    padding-left: 30%;
}

#hero p,
#highlights p,
#testimonials p,
#find-us p,
#planos p {
    color: var(--second-text-color);
    margin: 10px 0;
}

#hero .content,
#highlights .content,
#testimonials .content,
#find-us .content,
#contact .content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
    gap: 1.5rem;
}

#hero .content>div,
#highlights .content>div,
#testimonials .content>div,
#find-us .content>div {
    width: fit-content;
    align-self: center;
    margin-bottom: 1%;
}

#hero .content p,
#highlights .content p,
#testimonials .content p,
#find-us .content p,
#planos .content p,
#contact .content p {
    width: 80%;
    align-self: center;
}

#contact .content h3 {
    margin-bottom: -20px;
    color: var(--primary-color);
}

#contact .content h4 {
    margin-top: -20px;
}

.highlight-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 147, 76, 0.2);
    box-sizing: border-box;
}

.highlight-item h3,
.highlight-item p {
    margin: 0.5rem 0;
    width: 100%;
    word-break: normal;
}

.highlight-item h3 {
    font-size: 1.5rem;
}

.highlight-item p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bolder;
    word-break: break-word;
}

.highlight-item .author h3,
.author p {
    display: inline;
    margin-right: 10px;
    padding-bottom: 10px;
}

.highlights-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.content {
    /* gap: 2.5rem; */
    margin-bottom: 10px;
}

.content p {
    width: 80%;
    align-self: center;
}

.content p:first-of-type {
    color: var(--primary-color);
    font-weight: var(--fw-bold);
}

.gallery-image {
    max-width: 800px;
    max-height: 400px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}

#planos .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#contact .container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#contact form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#contact input,
#contact textarea,
#contact button {
    width: 100%;
    max-width: 100%;
}

.mobile-only {
    display: none;
}

.planos-cards {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 1rem;
}

.plano-preco {
    font-size: 1.45rem;
    color: var(--primary-color);
    /* Escolha a cor que preferir */
}


.features-container {
    text-align: left;
}

.features {
    display: flex;
    align-items: top;
    margin-bottom: 10px;
}

.features img {
    margin-right: 8px;
}

.plano-card {
    flex: 1;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.plano-card {
    transition: transform 0.3s ease;
}

.plano-card:hover {
    transform: scale(1.06);
}

@media (max-width: 768px) {
    .mobile-only {
        display: block;
        font-size: 2.2rem;
        color: var(--terciary-color);
        font-family: Montserrat black;
        font-weight: bold;
    }

    .desktop-only {
        display: none;
    }

    .planos-cards {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 100vw;
        height: 100vh;
        gap: 1.2rem;
        padding: 25px;
    }

    .plano-card {
        flex: 0 0 auto;
        min-width: 120px;
        max-width: 180px;
        margin-bottom: 10px;
    }

    .plano-card:last-child {
        margin-right: 80px;
    }

    .planos-cards {
        padding-bottom: 30px;
        overflow-x: auto;
    }

    .planos-cards::-webkit-scrollbar {
        height: 18px;
    }

    .planos-cards::-webkit-scrollbar-thumb {
        background-color: #2a9d8f;
        border-radius: 4px;
    }

    .planos-cards::-webkit-scrollbar-track {
        background-color: #f0f0f0;
    }

    @supports (scrollbar-color: #2a9d8f #e0e0e0) {

        .highlights-cards,
        .planos-cards {
            scrollbar-color: #2a9d8f #64efa9;
            scrollbar-width: thin;
        }
    }
}


input,
textarea {
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
}

textarea {
    resize: none;
    min-height: 60px;
    padding: 12px;
    font-size: 16px;
}

input:focus,
textarea:focus {
    border-color: #4caf50;
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
}

input::placeholder,
textarea::placeholder {
    color: #888;
    font-style: italic;
}

input,
textarea {
    background-color: #fff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

input:disabled,
textarea:disabled {
    background-color: #f0f0f0;
    border-color: #ccc;
}

button[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

p {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

p.success {
    color: #4caf50;
}

p.error {
    color: #f44336;
}